* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #6909e7;
}

.inputBox {
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 300px auto;
    display: flex;
    align-items: center;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}

.inputBox input {
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 20px;
    color: #555;
}

.inputBox i {
    font-size: 20px;
    cursor: pointer;
    color: gray;
}